body {
  overflow: hidden;
  text-align: center;
}

.firefly {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #ecc45e;
  box-shadow:0px 0px 17px 2px wheat;
  border-radius: 50%;
}

.container {
/*   width: 30%; */
  /* margin: 0 auto; */
  
  position: absolute;
  left: 4%;
  right: 5%;
  width: 92%;
  height:700px;
  background-color: black
}

#mycanvas {
  margin: 0 auto;
  position: absolute;
}

.headlevel{
  background:black;width:100%;height:100%;position:absolute;z-index:1;display: none
}
.headlevel .wating{
  width:300px;text-align:center;position: relative; margin:0 auto;color:rgb(255, 0, 234);background-color: thistle;padding:10px 0;margin-top: 20px;border-radius:5px;display: none
}
.headlevel .wating h3{
  text-shadow: 4px 4px 4px black; color:greenyellow
}
.headlevel .wating ul{
  width:50%;text-align:left;margin-left:90px;font-style: italic;color:orangered
}
.headlevel .wating button{
  padding:10px 20px
}
.headlevel .wating .hint{
  font-style:italic;color:black
}
.headlevel .wating #set_box h3{
  text-shadow: 4px 4px 4px black; color:greenyellow
}

.headlevel .result{
  width:300px;text-align:center;position: relative; margin:0 auto;color:rgb(255, 0, 234);background-color: thistle;padding:10px 0;margin-top: 20px;border-radius:5px;display: none
}
.headlevel .result ul{
  width:100%;text-align:left;margin-left:20px;font-style: italic;color:orangered
}
.headlevel .result p{
  font-style:italic;color:greenyellow
}